<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Unidad 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="main-content" #menu>
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <!--Modelos para la creación de contenidos
      //División del contenido
      <ion-item-divider>
        <ion-label>Básicos de autopsia</ion-label>
      </ion-item-divider>

      //Lista de contenidos menu lateral
      <ion-list>
        <ion-item button [disabled]="!progress.video && selectedContent !== 'video'" (click)="loadContent('video'); menu.close()">Tema 1: Video</ion-item>
        <ion-item button [disabled]="!progress.lecture && selectedContent !== 'lecture'" (click)="loadContent('lecture'); menu.close()">Tema 2: Lectura</ion-item>
        <ion-item button [disabled]="!progress.image && selectedContent !== 'image'" (click)="loadContent('image'); menu.close()">Tema 3: Imagen</ion-item>
        <ion-item button [disabled]="!progress.quiz && selectedContent !== 'quiz'" (click)="loadContent('quiz'); menu.close()">Tema 4: Quiz</ion-item>
        <ion-item button [disabled]="!progress.video2 && selectedContent !== 'video2'" (click)="loadContent('video2'); menu.close()">Tema 5: Segundo Video</ion-item>
        <ion-item button [disabled]="!progress.lecture2 && selectedContent !== 'lecture2'" (click)="loadContent('lecture2'); menu.close()">Tema 6: Segunda Lectura</ion-item>
        <ion-item button [disabled]="!progress.test" (click)="goToTest(); menu.close()">Test 1</ion-item>
      </ion-list>
            -->


      <!--Menu temas unidad 1-Sub unidad 1-->
      <ion-item-divider>
        <ion-label>Básicos de autopsia</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item button [disabled]="!progress.u1_su1_intro && selectedContent !== 'u1_su1_intro'"
          (click)="loadContent('u1_su1_intro'); menu.close()">Tema 1: Introducción básicos de autopsia</ion-item>
        <ion-item button [disabled]="!progress.u1_su1_lectura1 && selectedContent !== 'u1_su1_lectura1'"
          (click)="loadContent('u1_su1_lectura1'); menu.close()">Tema 2: Lectura acta de levantamiento</ion-item>
        <ion-item button [disabled]="!progress.u1_su1_video1 && selectedContent !== 'u1_su1_video1'"
          (click)="loadContent('u1_su1_video1'); menu.close()">Tema 3: Necropsia médico legal</ion-item>
        <ion-item button [disabled]="!progress.u1_su1_video2 && selectedContent !== 'u1_su1_video2'"
          (click)="loadContent('u1_su1_video2'); menu.close()">Tema 4: Objetivos de la necropsia</ion-item>
      </ion-list>

      <!--Menu temas unidad 1-Sub unidad 2-->
      <ion-item-divider>
        <ion-label>Procedimientos y técnicas</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item button [disabled]="!progress.u1_su2_intro && selectedContent !== 'u1_su2_intro'"
          (click)="loadContent('u1_su2_intro'); menu.close()">Tema 1: Introducción TDF</ion-item>
        <ion-item button [disabled]="!progress.u1_su2_video1 && selectedContent !== 'u1_su2_video1'"
          (click)="loadContent('u1_su2_video1'); menu.close()">Tema 2: Toma de fotografías de inicio I</ion-item>
        <ion-item button [disabled]="!progress.u1_su2_video2 && selectedContent !== 'u1_su2_video2'"
          (click)="loadContent('u1_su2_video2'); menu.close()">Tema 3: Toma de fotografías de inicio II</ion-item>
        <ion-item button [disabled]="!progress.u1_su2_video3 && selectedContent !== 'u1_su2_video3'"
          (click)="loadContent('u1_su2_video3'); menu.close()">Tema 4: Señales particulares</ion-item>
        <ion-item button [disabled]="!progress.u1_su2_video4 && selectedContent !== 'u1_su2_video4'"
          (click)="loadContent('u1_su2_video4'); menu.close()">Tema 5: Identificación del cadáver</ion-item>
        <ion-item button [disabled]="!progress.u1_su2_video5 && selectedContent !== 'u1_su2_video5'"
          (click)="loadContent('u1_su2_video5'); menu.close()">Tema 6: Identificación del preámbulo</ion-item>
        <ion-item button [disabled]="!progress.u1_su2_quiz1 && selectedContent !== 'u1_su2_quiz1'"
          (click)="loadContent('u1_su2_quiz1'); menu.close()">Quiz</ion-item>
      </ion-list>

      <!--Menu temas unidad 1-Sub unidad 3-->
      <ion-item-divider>
        <ion-label>Descripción de prendas</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item button [disabled]="!progress.u1_su3_intro && selectedContent !== 'u1_su3_intro'"
          (click)="loadContent('u1_su3_intro'); menu.close()">Tema 1: Introducción a la descripción de
          prendas</ion-item>
        <ion-item button [disabled]="!progress.u1_su3_video1 && selectedContent !== 'u1_su3_video1'"
          (click)="loadContent('u1_su3_video1'); menu.close()">Tema 2: Prendas y accesorios</ion-item>
        <ion-item button [disabled]="!progress.u1_su3_video2 && selectedContent !== 'u1_su3_video2'"
          (click)="loadContent('u1_su3_video2'); menu.close()">Tema 3: Laboratorio I</ion-item>
        <ion-item button [disabled]="!progress.u1_su3_video3 && selectedContent !== 'u1_su3_video3'"
          (click)="loadContent('u1_su3_video3'); menu.close()">Tema 4: Laboratorio II</ion-item>
        <ion-item button [disabled]="!progress.u1_su3_video4 && selectedContent !== 'u1_su3_video4'"
          (click)="loadContent('u1_su3_video4'); menu.close()">Tema 5: Laboratorio III</ion-item>
        <ion-item button [disabled]="!progress.u1_su3_quiz2 && selectedContent !== 'u1_su3_quiz2'"
          (click)="loadContent('u1_su3_quiz2'); menu.close()">Quiz</ion-item>
      </ion-list>

      <!--Menu temas unidad 1-Sub unidad 4-->
      <ion-item-divider>
        <ion-label>Fenómenos cadavéricos: Etimología</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item button [disabled]="!progress.u1_su4_intro && selectedContent !== 'u1_su4_intro'"
          (click)="loadContent('u1_su4_intro'); menu.close()">Tema 1: Introducción fenómenos cadavéricos</ion-item>
        <ion-item button [disabled]="!progress.u1_su4_infografia && selectedContent !== 'u1_su4_infografia'"
          (click)="loadContent('u1_su4_infografia'); menu.close()">Tema 2: Definición fenómenos cadavéricos</ion-item>
        <ion-item button [disabled]="!progress.u1_su4_video1 && selectedContent !== 'u1_su4_video1'"
          (click)="loadContent('u1_su4_video1'); menu.close()">Tema 3: Laboratorio IV-Larvas</ion-item>
        <ion-item button [disabled]="!progress.u1_su4_video2 && selectedContent !== 'u1_su4_video2'"
          (click)="loadContent('u1_su4_video2'); menu.close()">Tema 4: Laboratorio V-Larvas</ion-item>
        <ion-item button [disabled]="!progress.u1_su4_test_1" (click)="goToTest(); menu.close()">Test Unidad 1</ion-item>
      </ion-list>

    </ion-content>

  </ion-menu>

  <div id="main-content">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contenidos</ion-title>
    </ion-toolbar>

    <!--Temas unidad 1-Sub unidad 1-->
    <!-- Tema 1: Introducción básicos de autopsia -->
    <ng-container *ngIf="selectedContent === 'u1_su1_intro'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 1: Introducción básicos de autopsia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Aprende las buenas prácticas al elaborar una autopsia, luego de recibir los datos preliminares por parte de la autoridad del caso, quien consolidará el acta de levantamiento; posteriormente, realiza la lectura detenida y detallada del acta, identificando datos relevantes como: fecha, lugar de los hechos y contexto relacionado con la muerte.
            <br />
            <br />
            <strong>PALABRAS CLAVES: </strong>Necropsia, Medicina Legal, Patología Forense, Educación Médica.
          </p>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 2: Lectura acta de levantamiento -->
    <ng-container *ngIf="selectedContent === 'u1_su1_lectura1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 2: Lectura acta de levantamiento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Él acta de levantamiento del cadáver, es un documento fundamental donde reposan los datos relacionados con la defunción de una persona como fecha, nombres, apellidos, edad, sexo, lugar y contexto del suceso; lo anterior nos ayudará a entender los detalles del deceso y poder establecer la ruta de procedimientos a realizar. </p>
          <br />
          <p>De acuerdo con los expertos en el tema, algunas recomendaciones y cuidados son:</p>
          <br />
          <ion-list>
            <ion-item>
              <p>a.	Leer detenidamente el caso.</p>
            </ion-item>
            <br />
            <ion-item>
              <p>b.	Identificar las causas de muerte.</p>
            </ion-item>
            <br />
            <ion-item>
              <p>c.	Establecer características del cadáver como edad, piel, sexo, tatuajes, estatura, contextura, etc.</p>
            </ion-item>
            <br />
            <ion-item>
              <p>d.	Revisar que el formato (acta) se encuentre con sus campos correctamente diligenciados, sin tachones ni enmendaduras.</p>
            </ion-item>
          </ion-list>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 3: Necropsia médico legal -->
    <ng-container *ngIf="selectedContent === 'u1_su1_video1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 3: Necropsia médico legal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su1_video1_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 4: Objetivos de la necropsia -->
    <ng-container *ngIf="selectedContent === 'u1_su1_video2'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 4: Objetivos de la necropsia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su1_video2_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!--Temas unidad 1-Sub unidad 2-->
    <!-- Tema 1: Introducción TDF -->
    <ng-container *ngIf="selectedContent === 'u1_su2_intro'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 1: Introducción procedimientos y técnicas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Aplica procedimientos y técnicas para evaluar un cadáver, a través de la revisión de rótulos, embalaje del cuerpo y firma de la cadena de custodia. Luego procede a realizar los diagramas y tomar las fotografías relacionadas con el inicio del procedimiento en el cadáver.
          <br />
          <br />
            <strong>PALABRAS CLAVES: </strong>Patología Forense, Cadena de custodia.
          </p>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 2: Toma de fotografías de inicio I -->
    <ng-container *ngIf="selectedContent === 'u1_su2_video1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 2: Toma de fotografías de inicio I</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su2_video1_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 3: Toma de fotografías de inicio II -->
    <ng-container *ngIf="selectedContent === 'u1_su2_video2'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 3: Toma de fotografías de inicio II</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su2_video2_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>


    <!-- Tema 4: Señales particulares -->
    <ng-container *ngIf="selectedContent === 'u1_su2_video3'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 4: Señales particulares</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su2_video3_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>


    <!-- Tema 5: Identificación del cadáver -->
    <ng-container *ngIf="selectedContent === 'u1_su2_video4'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 5: Identificación del cadáver</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su2_video4_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>


    <!-- Tema 6: Identificación del preámbulo -->
    <ng-container *ngIf="selectedContent === 'u1_su2_video5'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 6: Identificación del preámbulo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su2_video5_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="goToQuiz()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>


    <!-- Quiz1-->
    <ng-container *ngIf="selectedContent === 'u1_su2_quiz1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Quiz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón de abajo para hacer el quiz.</p>
          <ion-button (click)="goToQuiz()">Ir al Quiz</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!--Temas unidad 1-Sub unidad 3-->
    <!-- Tema 1: Introducción a la descripción de prendas -->
    <ng-container *ngIf="selectedContent === 'u1_su3_intro'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 1: Introducción a la descripción de prendas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Realiza la descripción de prendas como parte del contexto social de los seres humanos, nos permiten perfilar el individuo por su aspecto, cuidado y limpieza, además de aportar manchas fibras o cabellos entre otros elementos que facilitan la identificación de nexos entre el agresor y la víctima. En este orden de ideas es importante:
          <br />
          <br />
          <ion-list>
            <ion-item>
              <p>a.	Describir las prendas, como talla, marca, material (algodón, poliéster, caucho, etc).</p>
            </ion-item>
            <br/>
            <ion-item>
              <p>b.	Describir rasgaduras por arma blanca o proyectil de arma de fuego, donde en este último caso, los residuos de disparo serán analizados en él laboratorio de balística.</p> 
            </ion-item>
            <br/>
            <ion-item>
              <p>c.	Describir sí las prendas coinciden con las heridas observadas en él cadáver.</p>
            </ion-item>
          </ion-list>
            <br />
            <strong>PALABRAS CLAVES: </strong>Prendas de vestir, Residuos, Intercambio, evidencias.
          </p>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 2: Prendas y accesorios -->
    <ng-container *ngIf="selectedContent === 'u1_su3_video1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 2: Prendas y accesorios</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su3_video1_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 3: Laboratorio I -->
    <ng-container *ngIf="selectedContent === 'u1_su3_video2'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 3: Laboratorio I</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su3_video2_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 4: Laboratorio II -->
    <ng-container *ngIf="selectedContent === 'u1_su3_video3'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 4: Laboratorio II</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su3_video3_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 5: Laboratorio III -->
    <ng-container *ngIf="selectedContent === 'u1_su3_video4'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 5: Laboratorio III</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su3_video4_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="goToQuiz2()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Quiz2-->
    <ng-container *ngIf="selectedContent === 'u1_su3_quiz2'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Quiz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón de abajo para hacer el quiz.</p>
          <ion-button (click)="goToQuiz2()">Ir al Quiz</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!--Temas unidad 1-Sub unidad 4-->
    <!-- Tema 1: Introducción fenómenos cadavéricos -->
    <ng-container *ngIf="selectedContent === 'u1_su4_intro'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 1: Introducción fenómenos cadavéricos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Explicar los fenómenos cadavéricos permite determinar el tiempo que ha transcurrido en la muerte de una persona clasificados como tempranos, tardíos y conservadores, los cuales dependen de la contextura, estados biológicos, estado de nutrición, medio ambiente, y toxicológicos del cadáver.
            <br />
            <br />
            <strong>PALABRAS CLAVES: </strong>Fenómenos cadavéricos, putrefacción.
          </p>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 2: Definición fenómenos cadavéricos -->
    <ng-container *ngIf="selectedContent === 'u1_su4_infografia'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 2: Definición fenómenos cadavéricos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../../../assets/imgs/inf_definicion_fenomenos cadavericos.jpg" alt="Imagen" width="100%">
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 3: Laboratorio IV-Larvas -->
    <ng-container *ngIf="selectedContent === 'u1_su4_video1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 3: Laboratorio IV-Larvas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su4_video1_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 4: Laboratorio V-Larvas -->
    <ng-container *ngIf="selectedContent === 'u1_su4_video2'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 4: Laboratorio V-Larvas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón ▶ para reproducir el video.</p>
          <iframe [src]="u1_su4_video2_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="finishAndGoToTest()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</ion-content>