 
ion-header {
  background-color: #ffffff;
  box-shadow: none;
  
  ion-toolbar {
    padding: 0; /* Eliminar padding del toolbar */
    --background: #466ece;/* Color de fondo del toolbar */
    border-radius: 0 0 16px 16px;

    ion-title {
      display: flex;
      align-items: center;
      color: #ffffff; /* Color blanco para el título del encabezado */
      font-weight: bold; /* Negrita para mayor impacto */
      font-size: 1.8em; /* Tamaño de fuente mayor para mayor visibilidad */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    }

    /* Estilo para el botón de retroceso */
    ion-buttons {
      ion-back-button {
        color: #ffffff; /* Color blanco para el icono del botón de retroceso */
        --background: transparent; /* Fondo transparente para el botón */
        --icon-color: #ffffff; /* Color del icono en blanco */
        
        &:hover {
          --icon-color: #e0e0e0; /* Color del icono al pasar el ratón */
        }
      }
    }
  }
}
  
 
  ion-button {
    margin-top: 4px; /* Ajuste del margen superior */
    --border-radius: 20px; /* Bordes redondeados más pronunciados */
    --background: #466ece; /* Color vibrante para el botón */
    --color: #ffffff; /* Texto en blanco para el botón */
    padding: 12px 24px; /* Mayor padding del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    font-weight: bold; /* Negrita para el texto del botón */
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Transiciones rápidas y suaves */
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 20px; /* Espaciado superior para separar del contenido anterior */
    border-radius: 5%;
  }
  