<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Unidad 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="main-content" #menu>
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <!--Menu temas unidad 3-Sub unidad 1-->
      <ion-item-divider>
        <ion-label>Causas Basicas de muerte y manera de muerte</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item button [disabled]="!progress.u3_su1_intro && selectedContent !== 'u3_su1_intro'"
          (click)="loadContent('u3_su1_intro'); menu.close()">Tema 1: Introducción causa básica de muerte</ion-item>
        <ion-item button [disabled]="!progress.u3_su1_video1 && selectedContent !== 'u3_su1_video1'"
          (click)="loadContent('u3_su1_video1'); menu.close()">Tema 2: Laboratorio VII</ion-item>
        <ion-item button [disabled]="!progress.u3_su1_video2 && selectedContent !== 'u3_su1_video2'"
          (click)="loadContent('u3_su1_video2'); menu.close()">Tema 3: Laboratorio VIII</ion-item>
        <ion-item button [disabled]="!progress.u3_su1_video3 && selectedContent !== 'u3_su1_video3'"
          (click)="loadContent('u3_su1_video3'); menu.close()">Tema 4: Laboratorio IX</ion-item>
        <ion-item button [disabled]="!progress.u3_su1_video4 && selectedContent !== 'u3_su1_video4'"
          (click)="loadContent('u3_su1_video4'); menu.close()">Tema 5: Laboratorio X</ion-item>
        <ion-item button [disabled]="!progress.u3_su1_video5 && selectedContent !== 'u3_su1_video5'"
          (click)="loadContent('u3_su1_video5'); menu.close()">Tema 6: Laboratorio XI</ion-item>

        <ion-item button [disabled]="!progress.u3_su1_quiz && selectedContent !== 'u3_su1_quiz'"
          (click)="loadContent('u3_su1_quiz'); menu.close()">Quiz</ion-item>
      </ion-list>

      <!--Menu temas unidad 3-Sub unidad 2-->
      <ion-item-divider>
        <ion-label>Protocolo especial de lesiones</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item button [disabled]="!progress.u3_su2_lectura1 && selectedContent !== 'u3_su2_lectura1'"
          (click)="loadContent('u3_su2_lectura1'); menu.close()">Tema 1: Arma blanca</ion-item>
        <ion-item button [disabled]="!progress.u3_su2_video1 && selectedContent !== 'u3_su2_video1'"
          (click)="loadContent('u3_su2_video1'); menu.close()">Tema 2: Laboratorio XII</ion-item>
        <ion-item button [disabled]="!progress.u3_su2_lectura2 && selectedContent !== 'u3_su2_lectura2'"
          (click)="loadContent('u3_su2_lectura2'); menu.close()">Tema 3: Arma de fuego</ion-item>
        <ion-item button [disabled]="!progress.u3_su2_lectura3 && selectedContent !== 'u3_su2_lectura3'"
          (click)="loadContent('u3_su2_lectura3'); menu.close()">Tema 4: Mecanismo contundente</ion-item>

        <ion-item button [disabled]="!progress.u3_su2_test_3" (click)="goToTest(); menu.close()">Test Unidad
          3</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contenidos</ion-title>
    </ion-toolbar>

    <!--Temas unidad 3-Sub unidad 1-->
    <!-- Tema 1: Introducción causa básica de muerte -->
    <ng-container *ngIf="selectedContent === 'u3_su1_intro'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 1: Introducción causa básica de muerte</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Es conocida comúnmente como la enfermedad o lesión que inició la cadena de acontecimientos patológicos,
            circunstancias del accidente o violencia que condujeron directamente a la muerte. Las Causas básicas de
            muerte están clasificadas en: </p>
          <ion-list>
            <ion-item>
              <p>a. Herida por Proyectil Arma de Fuego.</p>
            </ion-item>
            <ion-item>
              <p>b. Herida por arma corto punzante.</p>
            </ion-item>
            <ion-item>
              <p>c. Herida corto contundente.</p>
            </ion-item>
            <ion-item>
              <p>d. Heridas por arma punzante.</p>
            </ion-item>
            <ion-item>
              <p>e. Heridas por arma cortante.</p>
            </ion-item>
            <ion-item>
              <p>f. Traumatismo contundente en accidente de tránsito.</p>
            </ion-item>
          </ion-list>
          <br />

          <p>De acuerdo con lo anterior, también debemos recordar y determinar la manera de muerte, con el propósito de
            orientar a las autoridades de manera clara y concisa, el aspecto como murió la victima. Algunas de las
            maneras de muerte son:
            <br/>
            <br/>
            <ion-list>
              <ion-item>
                <p>a. Homicida: Matar a otro con o sin intención. </p>
              </ion-item>
              <br />
              <ion-item>
                <p>b. Suicida: autoeliminación o autolisis.</p>
              </ion-item>
              <br />
              <ion-item>
                <p>c. Indeterminada: Aquel qué la autoridad qué investiga el caso existe la sospecha qué sea una muerte
                  violenta.</p>
              </ion-item>
              <br />
              <ion-item>
                <p>d. Accidental: Contempla caídas, como, los accidentes de tránsito, los accidentes de trabajo.</p>
              </ion-item>
            </ion-list>
            <br />
            <br />
            <strong>PALABRAS CLAVES: </strong>Causa de Muerte, Manera de Muerte.
          </p>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 2: Laboratorio VII -->
    <ng-container *ngIf="selectedContent === 'u3_su1_video1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 2: Laboratorio VII</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe [src]="u3_su1_video1_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 3: Laboratorio VIII -->
    <ng-container *ngIf="selectedContent === 'u3_su1_video2'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 3: Laboratorio VIII</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe [src]="u3_su1_video2_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 4: Laboratorio IX -->
    <ng-container *ngIf="selectedContent === 'u3_su1_video3'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 4: Laboratorio IX</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe [src]="u3_su1_video3_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 5: Laboratorio X -->
    <ng-container *ngIf="selectedContent === 'u3_su1_video4'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 5: Laboratorio X</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe [src]="u3_su1_video4_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 6: Laboratorio XI -->
    <ng-container *ngIf="selectedContent === 'u3_su1_video5'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 6: Laboratorio XI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe [src]="u3_su1_video5_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="goToQuiz()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Quiz4-->
    <ng-container *ngIf="selectedContent === 'u3_su1_quiz4'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Quiz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic en el botón de abajo para hacer el quiz.</p>
          <ion-button (click)="nextContent()">Ir al Quiz</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!--Temas unidad 3-Sub unidad 2-->
    <!-- Tema 1: Arma blanca -->
    <ng-container *ngIf="selectedContent === 'u3_su2_lectura1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 1: Arma blanca</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Los protocolos especiales de lesiones tienen cuatro componentes, para él caso de proyectil arma blanca es
            decir de acuerdo al arma o mecanismo este puede ser corto punzante, punzante, cortante, corto contundente.
            En este sentido es necesario realizar:</p>
            <br/>
          <ion-list>
            <ion-item>
              <p>a. Descripción de los bordes de las heridas de acuerdo al arma utilizada o mecanismo es necesario medir
                la longitud, y unir los bordes de las heridas además sé debe decir la región anatómica corporal y su
                relación con los ejes: sagital, coronal y transversal; medir en centímetros la distancia a la línea
                media y él vértice</p>
            </ion-item>
            <br />
            <ion-item>
              <p>b. Con la ayuda de una guía medir la profundidad de las heridas siempre utilizar un parámetro métrico.
              </p>
            </ion-item>
            <br />
            <ion-item>
              <p>c. Descripción detallada de las lesiones siguiendo los planos como: piel, tejido células músculos,
                corazón pulmones hígado etc.</p>
            </ion-item>
            <br />
            <ion-item>
              <p>d. Trayectoria según los ejes corporales anatómicos: Sagital- Transverso y Coronal. Es decir, anterior
                o posterior, superior o inferior, derecha o izquierda y viceversa de acuerdo a las medidas al vertex y
                línea media en los planos corporales de un ser humano.</p>
            </ion-item>
            <br />
          </ion-list>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 2: Laboratorio XII -->
    <ng-container *ngIf="selectedContent === 'u3_su2_video1'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 2: Laboratorio XII</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe [src]="u3_su2_video1_Url" frameborder="0" allowfullscreen></iframe>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 3: Arma de fuego -->
    <ng-container *ngIf="selectedContent === 'u3_su2_lectura2'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 3: Arma de fuego</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Dentro del contexto y los mecanismos de muerte y hallazgos observados, es fundamental orientar a la
            autoridad del caso describiendo de manera detallada las lesiones en un protocolo especial en relación con
            arma de fuego.</p>
          <br />
          <p>Los protocolos especiales de lesiones tienen cuatro componentes, para él caso de proyectil arma de fuego
            así:
            <br/>
            <ion-list>
              <br />
              <ion-item>
                <p><strong>- Orificio de entrada: </strong>Se pueden identificar por sus características como forma
                  oval, circular o irregular, la medida del anillo de contusión, la presencia de ahumamiento y/o
                  tatuaje, y establecer su relación con los ejes coronal, sagital y trasverso, medir en centímetros la
                  distancia a la línea media y él vértice.
              </ion-item>
              <br />
              <ion-item>
                <p><strong>- Orificio de salida: </strong>Se pueden identificar por sus características donde es posible
                  observar su relación con los ejes coronal, sagital y trasverso, medir en centímetros la distancia a la
                  línea media y él vértice.</p>
              </ion-item>
              <br />
              <ion-item>
                <p><strong>- Descripción detallada de Lesiones: </strong> Se puede realizar teniendo en cuenta aspectos
                  como piel, tejido celular, fracturas, laceración de órganos, hasta la salida o recuperación del
                  proyectil.</p>
              </ion-item>
              <br />
              <ion-item>
                <p><strong>- Trayectoria: </strong>Se puede determinar según los ejes corporales anatómicos: Sagital-
                  Transverso y Coronal. Es decir, anterior o posterior, superior o inferior, derecha o izquierda y
                  viceversa de acuerdo a las medidas al vertex y línea media en los planos corporales de un ser humano.
                </p>
              </ion-item>
              <br />
            </ion-list>

            <strong>PALABRAS CLAVES: </strong>Proyectil arma de fuego, Mecanismo de muerte.
          </p>
          <ion-button (click)="nextContent()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Tema 4: Mecanismo contundente -->
    <ng-container *ngIf="selectedContent === 'u3_su2_lectura3'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tema 4: Mecanismo contundente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Dentro del contexto y los mecanismos de muerte y hallazgos observados es fundamental orientar a la
            autoridad del caso describiendo de manera detallada las lesiones por mecanismo contundente en cada región
            corporal en los casos de accidente de transito; las muertes en eventos de transporte se relacionan con
            accidentes en vehículos automotores, fluviales, marítimos y aéreos.</p>
          <br />
          <p>Las lesiones que se generan en estos eventos en vehículos terrestres se relacionan con abrasiones,
            laceraciones, heridas incisas o cortantes, hematomas, equimosis, fracturas, luxaciones, amputaciones,
            abluciones, aplastamiento y quemaduras.</p>
          <br />
          <p>Todo esto depende en la calidad que actuaba la persona en el momento del accidente sea como: peatón
            conductor o pasajero. Lo cual produce algo denominado lesiones patrón.</p>
          <br />
          <p>De acuerdo con las lesiones patrón, estas dependerán del tipo de vehículo, lugar del choque, volcamiento,
            atropellamiento, uso de casco de seguridad en motociclistas y uso del cinturón de seguridad en conductores y
            pasajeros. Los accidentes tienen una cinemática de dos fases así:</p>
            <br/>
            <ion-list>
            <ion-item>
              <p> a. Impacto primario: cuando el vehículo es chocado o choca contra otro vehículo o contra un animal u
                objeto inanimado como por ejemplo un árbol un poste entre otros.</p>
            </ion-item>
            <br />
            <ion-item>
              <p>b. Impacto secundario: son las lesiones que se producen como consecuencia de la desaceleración,
                eyección y arrastre, las cuales varían de acuerdo a si se trata de conductor, pasajero o peatón.</p>
            </ion-item>
          </ion-list>
          <br />
          <p>En el caso de los conductores pueden observarse: fractura de calcáneo, fractura o luxación de rodilla,
            trauma cerrado de tórax y abdomen, transacción de aorta, laceración de hígado, heridas por mecanismo
            cortante en él rostro por el vidrio panorámico.</p>
          <br />
          <p>En el caso de pasajero pueden ser de acuerdo a su ubicación en el vehículo, si por ejemplo este va al lado
            del conductor como copiloto serán similares a las del conductor. Pero si va en la parte de atrás estas
            pueden ser fracturas de miembros superiores e inferiores, trauma cerrado toracoabdominal.</p>
          <br />
          <p>En el caso de los peatones pueden generarse traumas según el tamaño del vehículo si se trata de una víctima
            adulto o un niño, por lo tanto, en el impacto primario hay trauma de miembros inferiores o del tórax, con
            fractura de tibia y peroné que es necesario medir su distancia al talón de la víctima, lo cual permite
            inferir la altura del vehículo. Y las demás lesiones se describen de acuerdo a la cinemática que deja una
            lesión patrón producto de la caída durante el impacto secundario, arrastre y aplastamiento.</p>
          <br />
          <p>Durante la caída se generan en el escalpo heridas contusas, en el cráneo fracturas y encéfalo lesiones de
            golpe y contragolpe, contusiones, laceraciones, hematomas subgaleales, hematoma epidural y sub DURAL y
            fractura de cráneo. También el Trauma raquimedular y además lesiones abrasivas y por arrastre, Trauma
            cerrado de tórax y abdomen.</p>
          <br />
          <p>El aplastamiento también es frecuente y se observa muchas veces fracturas conminutas de cráneo con
            aplastamiento de la cabeza y del encéfalo. Igualmente trauma cerrado o abierto del tórax y abdomen, con
            evisceración y amputaciones traumáticas.</p>
          <br />
          <p>Por esto es muy importante la descripción detallada en las prendas y la piel del labrado de las llantas.
            Además, tomar muestras de sangre para alcoholemia y orina para sustancias psicoactivas. Es necesario
            referirnos especialmente a los motociclistas quienes además de los impactos descritos, pueden tener lesiones
            como la fractura de base de cráneo en bisagra.</p>
          <ion-button (click)="finishAndGoToTest()">Siguiente</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</ion-content>