<ion-header>
  <ion-toolbar>
    <ion-title>Quiz 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">
  <!-- Formulario del Quiz -->
  <form (ngSubmit)="submitAnswer()" *ngIf="!quizCompleted" class="quiz-form">
    <ion-card class="question-card">
      <ion-card-header>
        <ion-card-title class="question-title">Pregunta {{ currentQuestionIndex + 1 }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>{{ questions[currentQuestionIndex]?.question }}</ion-label>
        </ion-item>
        <ion-radio-group [(ngModel)]="selectedAnswer" name="question" class="radio-group">
          <ion-item *ngFor="let answer of questions[currentQuestionIndex]?.answers">
            <ion-label>{{ answer.text }}</ion-label>
            <ion-radio slot="start" [value]="answer.text"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-text *ngIf="feedback">
          <p class="feedback-text">{{ feedback }}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" shape="round" type="submit" class="submit-button" [disabled]="!selectedAnswer">Submit</ion-button>
  </form>

  <!-- Sección de Resultados -->
  <div *ngIf="quizCompleted" class="result-container animate__animated animate__fadeIn animate__delay-1s">
    <ion-card class="result-card animate__animated animate__fadeIn animate__delay-1s">
      <ion-card-header>
        <ion-card-title class="result-title">Quiz Completed</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="result-text">Has acertado <span class="highlight">{{ correctAnswers }}</span> de <span class="highlight">{{ totalQuestions }}</span> preguntas.</p>
        <div class="button-container">
          <ion-button expand="full" shape="round" (click)="retryQuiz()" class="rounded-button retry-button">Reintentar</ion-button>
          <ion-button expand="full" shape="round" (click)="goHome()" class="rounded-button home-button">Home</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
