<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-waves">
    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>¿Que es Necropath?</ion-card-title>
        </ion-card-header>
        <img  src="../../assets/imgs/Logo_app.png" />
        <ion-card-content>
          <p>Construida bajo la estrategia de Microlearning (Pequeñas unidades de contenido), en Necropath App brindamos conocimientos básicos sobre autopsia clínica y médico legal; adicionalmente cuenta con más de 50 temas relacionados con Patología forense, autopsia médico legal y clínica.</p>
        </ion-card-content>

        <ion-card-content>
          <p><strong>Objetivos de formación</strong></p>
          <br />
          <p><strong>Objetivo general</strong></p>
          <br />
          <ion-list>
            <ion-item>
              <p>Capacitar a los médicos forenses en el tema de autopsia médico legal y clínica a través de una estrategia de microlearning.</p>
            </ion-item>
          </ion-list>
          <br />
          <p><strong>Objetivos específicos</strong></p>
          <br />
          <ion-list>
            <ion-item>
              <p>a.	Analizar el contexto del suceso cadavérico a través del método anato-patológico.</p>
            </ion-item>
            <br />
            <ion-item>
              <p>b.	Evaluar las características y generar el diagnóstico del fenómeno cadavérico.</p>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="background-waves">

    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>Equipo de producción</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Producción intelectual: </strong>------------</p>
          <br />
          <p><strong>Lider de proyecto: </strong>------------</p>
          <br />
          <p><strong>Diseño instruccional: </strong>------------</p>
          <br />
          <p><strong>Desarrollo: </strong>------------</p>
          <br />
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="background-waves">
    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>Syllabus</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Consulta el syllabus de Necropath app dando clic en sl siguiente botón:</p>
          <div class="button-container">
            <ion-button class="custom-button" (click)="goToSyllabus()">Ver</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>