<ion-header class="ion-header">
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-waves">
    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>¿Que es Necropath?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <img src="../../assets/imgs/Logo_app.png" />

          <p><strong>Descripción del curso</strong></p>
          <p>Brindar los conocimientos básicos en patología Forense para poder realizar de manera adecuada y completa una autopsia médico legal y clínica, y redactar un informe médico legal en sus labores como perito en apoyo a la administración de justicia en cualquier sitio del territorio colombiano.</p>
        </ion-card-content>
        <ion-card-content>
          <p><strong>Objetivos de formación</strong></p>
          <br />
          <p><strong>Objetivo general</strong></p>
          <br />
          <ion-list>
            <ion-item>
              <p>Capacitar a los médicos generales en el tema de autopsia médico legal y clínica a través de una estrategia de micro-learning.</p>
            </ion-item>
          </ion-list>
          <br />
          <p><strong>Objetivos específicos</strong></p>
          <br />
          <ion-list>
            <ion-item>
              <p>a. Analizar él cuerpo humano a través del método anato-patológico.</p>
            </ion-item>
            <br />
            <ion-item>
              <p>b.	Evaluar las características y generar el diagnóstico de los fenómenos cadavéricos.</p>
            </ion-item>
            <ion-item>
              <p>c.	Decribir las lesiones y determinar causa y manera de muerte.</p>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-content>
          <p><strong>Habilidades a desarrollar</strong></p>
          <p>Adquirir habilidades para la realización de una autopsia médico legal y clínica mediante la aplicación de las técnicas de descripción y disección de cadáveres víctimas de violencia mediante el método anatomo-patológico determinando causa y manera de muerte y su relación con él contexto.</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="background-waves">

    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>Equipo de producción</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Producción intelectual: </strong>------------</p>
          <br />
          <p><strong>Lider de proyecto: </strong>------------</p>
          <br />
          <p><strong>Diseño instruccional: </strong>------------</p>
          <br />
          <p><strong>Desarrollo: </strong>------------</p>
          <br />
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="background-waves">
    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>Diseño curricular</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Consulta el diseño curricular de Necropath app dando clic en sl siguiente botón:</p>
          <div class="button-container">
            <ion-button class="custom-button" (click)="goToD_curricular()">Ver</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>