<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-waves">
    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>¿Que es Necropath?</ion-card-title>
        </ion-card-header>
        <img  src="../../assets/imgs/Logo_app.png" />
        <ion-card-content>
          <p>Construida bajo la estrategia de Microlearning (Pequeñas unidades de contenido), en
            Necropat App brindamos conocimientos básicos sobre autopsia clínica y medico legal;
            adicionalmente cuenta con más de 50 temas relacionados con Patología forense, autopsia
            médico legal y clincia.</p>
        </ion-card-content>

        <ion-card-content>
          <p><strong>Objetivos de formación</strong></p>
          <br />
          <p><strong>Objetivo general</strong></p>
          <br />
          <ion-list>
            <ion-item>
              <p>Enseñar a los médicos como realizar adecuadamente una autopsia medico legal y clínica de acuerdo a
                estándares mundial</p>
            </ion-item>
          </ion-list>
          <br />
          <p><strong>Objetivos específicos</strong></p>
          <br />
          <ion-list>
            <ion-item>
              <p>Realizar una descripción desde él método anatopatologico desde un cadáver desde él contexto forense.
              </p>
            </ion-item>
            <br />
            <ion-item>
              <p>Realizar una descripción desde él método anatopatologico desde un cadáver desde él contexto clinico.
              </p>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="background-waves">

    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>Equipo de producción</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Producción intelectual: </strong>------------</p>
          <br />
          <p><strong>Lider de proyecto: </strong>------------</p>
          <br />
          <p><strong>Diseño instruccional: </strong>------------</p>
          <br />
          <p><strong>Desarrollo: </strong>------------</p>
          <br />
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="background-waves">
    <div class="cards-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>Syllabus</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Consulta el syllabus de Necropath app dando clic en sl siguiente botón:</p>
          <div class="button-container">
            <ion-button class="custom-button" (click)="goToSyllabus()">Ver</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>