/* Estilo para el header */
.ion-header {
  background-color: #ffffff;
  box-shadow: none;
}

.ion-toolbar {
  padding: 0; /* Eliminar padding del toolbar */
  --background: #466ece;/* Color de fondo del toolbar */
  border-radius: 0 0 16px 16px;
}

/* Estilo para el título del toolbar */
ion-title {
  color: #ffffff; /* Color blanco para el texto del título */
  font-size: 1.5rem; /* Tamaño de fuente para el título */
  font-weight: bold; /* Negrita para mayor impacto */
  text-align: center; /* Centrar el título */
}

/* Estilos para la página de inicio de sesión */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-container img {
  margin-bottom: 10px; /* Espacio debajo de la imagen */
  width: 60%; /* O ajustar según el tamaño deseado */
  border-radius: 10%
}

.login-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.register-link {
  margin-top: 15px;
  font-size: 0.9rem;
}

.register-link a {
  color: var(--ion-color-primary);
  font-weight: bold;
}

ion-item {
  min-width: 100%; /* Ancho mínimo para los inputs */
}

/* Estilos para el botón de inicio de sesión */
ion-button {
  width: 100%; /* Hacer que el botón ocupe todo el ancho */
  margin-top: 20px; /* Espacio encima del botón */
  --border-radius: 20px; /* Bordes redondeados para el botón */
  --background: #466ece; /* Color vibrante para el botón */
  --color: #ffffff; /* Texto en blanco para el botón */
  padding: 12px 24px; /* Padding del botón */
  font-size: 16px; /* Tamaño de fuente del botón */
  font-weight: bold; /* Negrita para el texto del botón */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Transiciones rápidas y suaves */
}
