<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <h1 class="login-title">Bienvenido</h1>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="login()" class="login-button">Ingresar</ion-button>
    <div class="register-link">
      <p>¿No tienes un usuario? <a [routerLink]="['/register']">Registrate</a></p>
    </div>
  </div>
</ion-content>
