/* Estilo para el header */
.ion-header {
  background-color: #ffffff;
  box-shadow: none;
}

.ion-toolbar {
  padding: 0; /* Eliminar padding del toolbar */
  --background: #466ece; /* Color de fondo del toolbar */
  border-radius: 0 0 16px 16px;
  display: flex; /* Usar flexbox para alinear los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
}

/* Ajustes del título del toolbar */
ion-title {
  color: #ffffff; /* Color blanco para el texto del título */
  font-size: 1.5rem; /* Tamaño de fuente para el título */
  font-weight: bold; /* Negrita para mayor impacto */
  text-align: center; /* Centrar el texto dentro del contenedor */
  flex: 1; /* El título ocupará todo el espacio restante */
  display: flex;
  justify-content: center; /* Asegura que el texto esté centrado horizontalmente */
  padding: 0; /* Eliminar cualquier padding extra */
}

/* Ajuste para el botón de retroceso */
ion-back-button {
  color: #ffffff; /* Color blanco para el botón */
  --padding-start: 10px; /* Ajustar padding a la izquierda para darle espacio */
}

/* Estilos para la página de registro */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.register-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-link {
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-link a {
  color: var(--ion-color-primary);
  font-weight: bold;
}

ion-item {
  min-width: 100%; /* Ancho mínimo para los inputs */
}

/* Estilos para el botón de registro */
ion-button {
  width: 100%; /* Hacer que el botón ocupe todo el ancho */
  margin-top: 20px; /* Espacio encima del botón */
  --border-radius: 20px; /* Bordes redondeados para el botón */
  --background: #466ece; /* Color vibrante para el botón */
  --color: #ffffff; /* Texto en blanco para el botón */
  padding: 12px 24px; /* Padding del botón */
  font-size: 16px; /* Tamaño de fuente del botón */
  font-weight: bold; /* Negrita para el texto del botón */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Transiciones rápidas y suaves */
}

ion-back-button {
  color: #ffffff; /* Asegurar que el color del botón de retroceso sea blanco */
}
