<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <h1 class="register-title">Create an Account</h1>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input type="text" [(ngModel)]="surname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="number" [(ngModel)]="phone" required></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="register()" class="register-button">Register</ion-button>
    <div class="login-link">
      <p>Already have an account? <a [routerLink]="['/login']">Login here</a></p>
    </div>
  </div>
</ion-content>
