<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToEdit()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToResults()">
        <ion-icon slot="icon-only" name="bar-chart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToAbout()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">

  <div class="background-waves"></div>

  <div class="cards-container">
    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="../../assets/imgs/logo_u1.png" />
      <ion-card-content>
        Conoce la definición y procedimientos técnicos/científicos necesarios para realizar una Necropsia Médico Legal e identificar causas básicas de muerte de un paciente.
      </ion-card-content>
      <div class="button-container">
      <ion-button class="custom-button" (click)="goToU1Tema1()">Empezar</ion-button>
    </div>
    </ion-card>

    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="../../assets/imgs/logo_u2.png" />
      <ion-card-content>
        Aprende sobre la Autopsia Médico Legal, conocida como el estudio o examen del cadáver realizado en morgues judiciales con fines médico legales para determinar las principales causas de muerte, considerando las recomendaciones y procedimientos especializados para una correcta evaluación del cadáver.
      </ion-card-content>
      <div class="button-container">
      <ion-button class="custom-button" (click)="goToU2Tema1()">Empezar</ion-button>
      </div>
    </ion-card>

    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="../../assets/imgs/logo_u3.png" />
      <ion-card-content>
        Conoce y determina en el proceso de evaluación de un cadáver, la o las causas de muerte al igual que la manera en que se provocó como, por ejemplo: sepsis, insuficiencia respiratoria, deshidratación, insuficiencia cardiaca, insuficiencia renal, eventos de intención no determinada, etc.
      </ion-card-content>
      <div class="button-container">
      <ion-button class="custom-button" (click)="goToU3Tema1()">Empezar</ion-button>
    </div>
    </ion-card>

    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="../../assets/imgs/Calificaciones.png" />
      <ion-card-content>
        Conoce el desarrollo de tus actividades en la aplicación.
      </ion-card-content>
      <div class="button-container">
      <ion-button class="custom-button" (click)="goToResultados()">Ver</ion-button>
    </div>
    </ion-card>

  </div>
</ion-content>
