ion-header {
  background-color: #ffffff;
  box-shadow: none;
  
  ion-toolbar {
    padding: 0; /* Eliminar padding del toolbar */
    --background: #466ece;/* Color de fondo del toolbar */
    border-radius: 0 0 16px 16px;

    ion-title {
      display: flex;
      align-items: center;
      color: #ffffff; /* Color blanco para el título del encabezado */
      font-weight: bold; /* Negrita para mayor impacto */
      font-size: 1.8em; /* Tamaño de fuente mayor para mayor visibilidad */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    }

    /* Estilo para el botón de retroceso */
    ion-buttons {
      ion-back-button {
        color: #ffffff; /* Color blanco para el icono del botón de retroceso */
        --background: transparent; /* Fondo transparente para el botón */
        --icon-color: #ffffff; /* Color del icono en blanco */
        
        &:hover {
          --icon-color: #e0e0e0; /* Color del icono al pasar el ratón */
        }
      }
    }
  }
}
  
  ion-content {
    --background: #f3f4f6; /* Color de fondo más claro y suave */
    padding: 0; /* Eliminar el padding para ajustar la tarjeta al borde */
  }
  
  ion-card {
    margin: 20px auto; /* Centrar la tarjeta y agregar margen */
    max-width: 90%; /* Ancho máximo de la tarjeta */
    border-radius: 16px; /* Bordes redondeados más pronunciados */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Sombra más difusa y suave */
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Transición rápida y suave */
    
    &:hover {
      transform: translateY(-4px); /* Efecto de elevación al pasar el mouse */
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
    }
  }
  
  ion-card-header {
    background-color: #466ece; /* Azul vibrante para el header de la tarjeta */
    color: #ffffff; /* Texto en blanco para mayor contraste */
    padding: 16px; /* Padding para mayor espacio */
    border-radius: 16px 16px 0 0; /* Bordes redondeados en la parte superior */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  ion-card-title {
    font-size: 1.6em; /* Ajustar tamaño de título */
    font-weight: bold; /* Negrita para resaltar el título */
    text-align: center; /* Centrar el texto */
    color: #ffffff; /* Color blanco para el título */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra para mejorar la legibilidad */
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido dentro de la tarjeta */
    padding: 16px;
    padding-bottom: 8px; /* Reduce el padding inferior */
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    border-radius: 16px; /* Bordes redondeados en la imagen */
    margin-bottom: 16px; /* Espacio entre imagen y contenido */
  }
  
  .responsive-video {
    width: 100%;
    height: 300px; /* Ajustar esta altura según sea necesario */
    border-radius: 16px; /* Bordes redondeados en el video */
    margin-bottom: 20px; /* Espacio inferior para el video */
  }
  
  ion-button {
    margin-top: 4px; /* Ajuste del margen superior */
    --border-radius: 20px; /* Bordes redondeados más pronunciados */
    --background: #466ece; /* Color vibrante para el botón */
    --color: #ffffff; /* Texto en blanco para el botón */
    padding: 12px 24px; /* Mayor padding del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    font-weight: bold; /* Negrita para el texto del botón */
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Transiciones rápidas y suaves */
  }
  
  ion-card-content ion-button {
    align-self: center; /* Asegura que el botón esté centrado */
    margin-top: 0px; /* Reduce el espacio superior entre el contenido y el botón */
  }
  
  /* Estilo para centrar el botón "Empezar" */
  .button-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 20px; /* Espacio superior si es necesario */
  }
  