<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="background-waves"></div>

  <div class="cards-container">
    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Contenido 1</ion-card-title>
        <ion-card-subtitle>Tema 1</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
      <ion-button class="custom-button" (click)="goToU1Tema1()">Ir al Tema 1</ion-button>
    </ion-card>

    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Contenido 2</ion-card-title>
        <ion-card-subtitle>Tema 2</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
      <ion-button class="custom-button" (click)="goToTest2()">Ir al Test 2</ion-button>
    </ion-card>

    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Contenido 3</ion-card-title>
        <ion-card-subtitle>Tema 3</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
      <ion-button class="custom-button" (click)="goToTest3()">Ir al Test 3</ion-button>
    </ion-card>

    <ion-card class="custom-card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Ver resultados</ion-card-title>
        <ion-card-subtitle>Resultados</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
      <ion-button class="custom-button" (click)="goToResultados()">Ver Resultados</ion-button>
    </ion-card>
  </div>
</ion-content>
